/*version mobile (max-width:767px)
*/
@media (max-width:767px) {
	[class*="col-"] {
    max-width: 100%;
    flex: none;
  }
   header {
    z-index: 1;
    position: relative;
  }
  header h2 {
    padding: 0;
    font-size: 22px;
  }
  .fa-bars {
    margin-top: 0;
    display: inline-block;
    z-index: 3;
    position: absolute;
    margin-left: 290px;
    margin-top: -25px;
  }
  header ul {
    display: none;
  }
  .tagline h1 {
    font-size: 90px;
  }
  .what {
    padding-top: 0px;
    height: 700px;
  }
  .photos {
    height: 1600px;
  }
  .img {
    margin: 40px 0;
  }
  footer {
    padding: 20px;
  }
}

@media (max-width:767px) and (orientation: landscape) {
  .fa-bars {
    margin-top: 0;
    display: inline-block;
    z-index: 3;
    position: absolute;
    margin-left: 550px;
    margin-top: -25px;
  }
  .tagline h1 {
    padding-top: 30px;
  }
  .what {
    padding-top: 0px;
    height: 500px;
  }
  .img {
    margin: 20px 100px;
  }
}