/*version mobile (max-width:767px)
*/
@media (max-width:767px) {
	[class*="col-"] {
    max-width: 100%;
    flex: none;
  }
  header h2 {
    padding: 0;
    font-size: 22px;
  }
  /*intenté ponerle otra clase y llamarlo
  para editar el width pero no me dejó :(*/
  .col-6 {
    width: 50%; 
  }
  .fa-bars {
    margin-top: 0;
   display: inline-block;
  }
  header ul {
    display: none;
  }
  .tagline h1 {
    font-size: 90px;
  }
  .what {
    padding-top: 0px;
    height: 700px;
  }
  .photos {
    height: 1600px;
  }
  .img {
    margin: 40px 0;
  }
  footer {
    padding: 20px;
  }
}