* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', cursive;
  background-color: #9BBBCA;
}

header {
	background-color: #B98788;
	height: 55px;
  color: white;
  padding-top: 5px;
}

header h2 {
  padding-top: 0;
}

.fa-bars {
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 120px;
  display: none;
}

header ul {
  text-align: right;
}

header ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
}

.tagline {
  background-image: url(../img/floral-background-3636.jpeg);
  object-fit: cover;
  width: 100%;
  height: 300px;
  font-family: 'Pacifico', cursive;
  color: #B98788;
}

.tagline h1 {
  font-size: 150px;
  text-align: center;
}

.what {
  width: 100%;
  height: 350px;
  color: white;
  padding-top: 20px;
}

.what h1 {
  padding: 20px 0;
}

.what p {
  font-weight: lighter;
}

.btn {
  width: 140px;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  background-color: #B98788;
  border-radius: 5px;
}

.btn.dos {
  margin: 10px;
  color: white;
}

.photos {
  width: 100%;
  height: 500px;
}

.photos p,h2 {
  padding: 10px 12px 7px;
  width: 100%;
  margin-right: 1px;
}

.img {
  width: 302px;
  height: 455px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #B98788;
  margin: 10px 0;
  color: white;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.bottom {
  width: 300px;
  height: 65px;
  border-top: 1px solid gray;
  background-color: #739FB4;

}

footer {
  width: 100%;
  height: auto;
  background-color:  #B98788;
  padding: 40px;
  text-align: center;
  color: white;
}